html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: plum;
}
.title {
  font-size: 75px;
  text-align: center;
  color: slateblue;
  font-weight: bold;
}
.parent {
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}
.child {
  width: 10%;
  height: 500px;
  border-radius: 15px;
  border: 3px solid red;
}
.child-1 {
  background-image: url(img/Jett.jpg);
  background-size: 200px;
  background-position: center;
}
.child-2 {
}
.child-3 {
}
.child-4 {
  background-image: url(img/Phoenix.jpg);
  background-size: 200px;
  background-position: center;
}
.child-5 {
}
.child-6 {
}
.child-7 {
}
.child-8 {
}
.child-9 {
}
